doctype html
html
    head
        title Node.js, Twitter Stream, Socket.io
        link(rel="stylesheet" type="text/css" class="ui" href="/semantic/css/semantic.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false")
        script(src="/semantic/javascript/semantic.min.js")
        script(type='text/javascript').
            var local_data =!{JSON.stringify(data)};
        script(src="/javascripts/script.js" defer="defer")
    body
        .container
            .header
                h1 Tweets Map
            div(class="ui tabular menu")
                a(class="active item") Home
                a(class="item") Custom

            div(class="left form")
                div(class="ui form segment")
                    div(class="field")
                        label Map Type
                        div(class="ui selection dropdown maptype")
                            input(type="hidden" name="maptype")
                            div(class="default text") Scatter Plot
                            i(class="dropdown icon")
                            div(class="menu")
                                div(class="item" data-value="1") Heat Map
                                div(class="item" data-value="0") Scatter Plot

                    div(class="field")
                        label Keyword
                        div(class="ui selection dropdown keyword")
                            input(type="hidden" name="keyword")
                            div(class="default text") amazon
                            i(class="dropdown icon")
                            div(class="menu")
                                div(class="item" data-value="amazon") amazon
                                div(class="item" data-value="giants") giants
                                div(class="item" data-value="game") game
                                div(class="item" data-value="ebola") ebola
                                div(class="item" data-value="halloween") halloween
                                div(class="item" data-value="cat") cat
                    div(class="field")
                        label Last updated:
                        label(id="last-update") Never
            div(id="map-canvas")
