body
    color #333
    margin 0px

.header
    h1
        text-align center
        margin-bottom 5px
    small
        display block
        text-align center
        margin-top 10px

.container
    width 1000px
    margin-left auto
    margin-right auto

#map-canvas-home
    width 650px
    height 450px
    margin-left auto
    margin-right 0

#map-canvas-custom
    width 650px
    height 450px
    margin-left auto
    margin-right 0

.left.form
    float left
    width 250px
    height 450px

.ui.bottom.attached.tab.segment
    width 1000px
    margin-left auto
    margin-right auto
